.red{
    color: red;
}
.bg-yellow
{
    background-color: yellow;
}
#myHeader{
    background-color: lightblue;
    color: rgb(119, 99, 73);
    padding: 10px;
}
.city {
    background-color: #c8b9e1;
    text-decoration: underline;
    color: #455059;
}