.red{
    color: red;
}
.bg-yellow
{
    background-color: yellow;
}
#myHeader{
    background-color: lightblue;
    color: rgb(119, 99, 73);
    padding: 10px;
}
.city
{
    background-color: beige;
    text-decoration: underline;
    color: firebrick
}