.box {
    border: 2px solid rebeccapurple;
    margin: 20px 15px;
    padding: 20px;
    box-shadow: 5px 15px 15px 5px rgb(197, 181, 109);
}

.card {
    width: 220px;
    height: 120px;
    background-color: white;
    box-shadow: 5px 5px 15px 6px #888;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.text-element {
    border: 4px solid brown;
    padding: 15px;
    text-shadow: 5px 5px 15px #5c3b3b;
    outline: 2px groove peru;
    border-radius: 34px;
    outline-offset: 4px;
}

.heading {
    text-shadow: 2px 2px 4px #888;
    font-size: 40px;
    color: #333;
    text-decoration: underline;
}

.glow {
    background-color: #333;
    font-size: 40px;
    color: white;
    display: inline-block;
    padding: 20px;
    text-shadow: 0 0 10px rgb(197, 181, 109), 0 0 20px tomato, 0 0 30px indianred;
}