* {
    margin: 0;
    padding: 0;
}

.box {
    box-sizing: border-box;
    border: 2px solid blueviolet;
    /* width: 1366px; */
    width: 80vw;
    height: 10vh;
    margin: auto;
    color: firebrick;
    font-weight: bold;
    background-color: aquamarine;
}

.container {
    box-sizing: border-box;
    border: 2px solid blueviolet;
    /* width: 1366px; */
    width: 80vw;
    /* height: 80vh; */
    min-height: 80vh;
    margin: 23px auto;
    font-size: 12px;
    font-weight: bold;
    background-color: aquamarine;
}

.container p {
    font-size: 2em;
}

.mycont {
    box-sizing: border-box;
    border: 2px solid rebeccapurple;
    margin: 23px auto;
    color: rgb(80, 100, 50);
    font-size: 22px;
    font-weight: bold;
    width: 80vw;
}